woof

<div id='deck_list'></div>



<script type="text/javascript">
	
	// Grab the decks in local storage, create and append checklist to the page
    var card_array = JSON.parse(localStorage['all_decks'])
    for(var i = 0; i< card_array.length; i++){
    	var deck = document.createElement('input');
    	deck.type 	= 'checkbox';
    	deck.id		= 'deck' + i 

    	var label = document.createElement('label')
    	label.htmlFor = 'deck' + 1
    	label.appendChild(document.createTextNode(card_array[i]["deck_name"]))
    	$('#deck_list').append(deck)
    	$('#deck_list').append(label)
    }
</script>