<%= form_tag('/select') do %>
	<div id='deck_list'></div>
	<%= submit_tag "Study!", :id=> 'submit_button' %>
<% end %>

<script type="text/javascript">
	
	// Add the cards to the study_deck
	$('#submit_button').on('click', function(event){
		var decksChosen = selectDecks();
		combine_cards(decksChosen);
	})

	// Identify the checked boxes
	var selectDecks = function(){
		var selectedDecks = [];
    	$('input:checkbox').each(function(i, value){
    		if(value.checked){
    			var name = $(value).next().text();
    			selectedDecks.push(name);
    		}
    	})
    	return selectedDecks;
	}
	
	
	// Grab the decks in local storage, create and append checklist to the page
    var card_array = JSON.parse(localStorage['all_decks'])
    for(var i = 0; i< card_array.length; i++){

    	// Create the checkbox
    	var deck = document.createElement('input');
    	deck.type 	= 'checkbox';
    	deck.id		= 'deck' + i 

    	// Create the label
    	var label = document.createElement('label')
    	label.htmlFor = 'deck' + 1;
    	var button = document.createElement('button') // is this the edit button? no it's some hacky shit.
    	label.appendChild(document.createTextNode(card_array[i]["deck_name"])) //wtf is this or how does it work

    	// Create the line break
    	var brk = document.createElement('br')

    	// Append checkbox, label, and break
    	$('#deck_list').append(deck);
    	$('#deck_list').append(label);
    	$('#deck_list').append(button);
    	$('#deck_list').append(brk);
    }

    // Iterate through localStorage decks, check if they contain one of the checked values, push their card array into the master array
    //    and flatten it afterwards
    var combine_cards = function(decks){
    	var allCards 	= [];
    	var mergedCards = [];
    	
    	$(card_array).each(function(i, value){
    		if(decks.indexOf(value["deck_name"]) > -1){
    			allCards.push(value["cards"]);
    		}
    	})
    	// Flatten array
    	mergedCards = mergedCards.concat.apply(mergedCards, allCards);

    	// Store array of card objects into localStorage
    	localStorage.setItem('main_study_deck', JSON.stringify(mergedCards));
    }
</script>