<div id="container"></div>
<div id = "study_deck"></div>


<script type="text/javascript">
	var main_deck = JSON.parse(localStorage["main_study_deck"]);
	var active_deck = [];
	var review_deck = [];

	// Pull out 5 cards from the main deck and place them in active deck
	active_deck = main_deck.splice(0, 5);

	//TODO remove this or call the loadCard() function
	var current_card = active_deck[0];
	var current_side = 'a';
	var current_index = 0;

	// Load the first card in the deck
	$('#study_deck').text(current_card["side_a"]);

	// Handlers for arrow keys
	$(document).keydown(function(e){
		switch(e.which) {
			case 37: // left
			if(active_deck.length !== 0){
				console.log('left');
				leftArrow();
				break;
			}

			case 38: // up
			console.log('up');
			// upArrow won't run after the deck is empty
			if(active_deck.length != 0){
				upArrow();
			}
			break;

			case 39: //right
			if(active_deck.length !=0){
				console.log('right');
				rightArrow();
			}break;

			case 40: //down
			console.log('down')
			downArrow();
			break; 

			default: return; // exit this handler for other keys
		}
		e.preventDefault();
	})

	var loadCard = function(){
		current_card = active_deck[0];
		current_side = 'a';
		current_index = 0;

		// Load the first card in the deck
		$('#study_deck').text(current_card["side_a"]);

	}

	var upArrow = function(){
		// pop the current card out of the active deck and into the review deck
		review_deck.push(current_card);
		active_deck.splice(current_index, 1);
		
		// if the index is 0, load up the last card
		if(active_deck.length == 0 && main_deck.length == 0){
			$('#study_deck').text('No more cards');
			//trigger review mode 
		}
		else if(active_deck.length == 0 && main_deck.length != 0){
			$('#study_deck').text('active deck empty, please draw more cards')
			current_card = null;
		}
		else if(current_index == 0){
			current_index = active_deck.length - 1;
			current_card = active_deck[current_index];
			$('#study_deck').text(current_card["side_a"]);
		// if the length is 0, there are no more cards - the card from the main deck should be loaded before this check
		// and then the review mode should fire off
		}
		// if the index isn't 0, load the previous card - later figure out if the cards are being move left or right and load 
		// the previous one
		else{
			current_index = current_index - 1;
			current_card = active_deck[current_index];
			$('#study_deck').text(current_card["side_a"]);
		}
	}

	var downArrow = function(){
		// if the main deck still has cards, pop them into the main deck into the active deck
		if(main_deck.length > 0){
			active_deck.push(main_deck.pop());
			loadCard();
		}	

		if(main_deck.length == 0){
			$('#study_deck').text( current_card["side_a"] + 'Main deck is empty and all cards have been loaded')
		}
	}

	var leftArrow = function(){
		if(current_side == 'b'){
			// Currently on side b and need to load side a
			$('#study_deck').text(current_card["side_a"]);
			current_side = 'a';

		}else if(current_index != 0){
			// it is on side a and we need to load the previous card
			current_card = active_deck[current_index - 1];
			current_side = 'b';
			current_index = current_index - 1;
			$('#study_deck').text(current_card["side_b"]);

		}else if(current_index == 0){
			//load the last card because the current one is the first card side a
			current_index = active_deck.length - 1;
			current_card = active_deck[current_index];
			current_side = 'b';
			$('#study_deck').text(current_card["side_b"]);
		}
	}

	var rightArrow = function(){
		
		if(current_side == 'a'){
			// Currently on side a and need to load side b
			$('#study_deck').text(current_card["side_b"]);
			current_side = 'b';

		}else if(current_index != active_deck.length - 1){
			// it is on side b and we need to load the next card
			current_card = active_deck[current_index + 1];
			current_side = 'a';
			current_index = current_index + 1;
			$('#study_deck').text(current_card["side_a"]);

		}else if(current_index == active_deck.length - 1){
			//load the first card because the current one is the last card side b
			current_card = active_deck[0];
			current_side = 'a';
			current_index = 0;
			$('#study_deck').text(current_card["side_a"]);
		}
	}

</script>