<!DOCTYPE html>
<html>
<head>
  <title>HackyFlash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div>
	<a href="/">Create</a>
	&nbsp
	<a href="/select">Select</a>
</div>

<%= yield %>

</body>
</html>
